:root {
  --primary: #9500af;
  --primary-light: #d6b0f2;
  --primary-dark:#35a6cc;
  --primary-contrast-light: #fff;
  --primary-contrast-dark: #111;
  
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}